<md-card class="todoapp">
  <md-toolbar color="primary">
    <h3>SLiPP TODO</h3>
    <span class="fill-remaining-space"></span>
    <button md-mini-fab color="primary">로그인</button>
  </md-toolbar>

  <md-card-content class="todo-input">
    <md-input-container class="full-width">
        <input mdInput placeholder="What needs to be done?"/>
    </md-input-container>
  </md-card-content>
  <md-card-content>
  <nav md-tab-nav-bar>
    <a md-tab-link >View All</a>
    <a md-tab-link >Active</a>
    <a md-tab-link >Completed</a>
  </nav>
    <md-list>
      <form>
        <md-list-item class="list-item">
          <md-checkbox color="primary" type="checkbox">
            <span>진행 중 TODO</span>
          </md-checkbox>

          <span>
           <button md-mini-fab color="primary">
             <md-icon>delete_forever</md-icon>
           </button>

           <button md-mini-fab color="primary">
             <md-icon>mode_edit</md-icon>
           </button>
         </span>
        </md-list-item>
        <md-list-item class="list-item">
          <md-checkbox color="primary" type="checkbox">
            <span class="completed">완료한 TODO</span>
          </md-checkbox>

          <span>
           <button md-mini-fab color="primary">
             <md-icon>delete_forever</md-icon>
           </button>

           <button md-mini-fab color="primary">
             <md-icon>mode_edit</md-icon>
           </button>
         </span>
        </md-list-item>
      </form>
    </md-list>
  </md-card-content>
</md-card>