<md-list-item class="list-item" *ngIf="!editing">
  <md-checkbox 
    *ngIf="!task.completed"
    (click)="toggleStatus(task)"
    [checked]="task.completed"
    color="primary" 
    type="checkbox">
    <span title="{{task.title}}">{{ task.title | shorten }}</span>
  </md-checkbox>

  <md-checkbox 
    *ngIf="task.completed"
    (click)="toggleStatus(task)"
    [checked]="task.completed"
    color="primary" 
    type="checkbox">
    <span class="completed" title="{{task.title}}">{{ task.title | shorten }}</span>
  </md-checkbox>

  <!-- <md-checkbox 
    (click)="toggleStatus(task)"
    [checked]="task.completed"
    color="primary" 
    type="checkbox">
    <span [ngClass]="task.completed ? 'completed' : ''">{{ task.title }}</span>
  </md-checkbox> -->

  <span>
    <button md-mini-fab color="primary" (click)="remove(task)">
      <md-icon>delete_forever</md-icon>
    </button>

    <button md-mini-fab color="primary" (click)="editTitle()">
      <md-icon>mode_edit</md-icon>
    </button>
  </span>
</md-list-item>

<md-list-item class="list-item" *ngIf="editing">
  <md-input-container class="task-form">
    <form (ngSubmit)="saveTitle()">
        <input 
          [(ngModel)]="title"
          name="title"
          type="text"
          mdInput/>
    </form>
  </md-input-container>
  <span>
    <button md-mini-fab color="primary" (click)="stopEditing()">
      <md-icon>&#xe14c;</md-icon>
    </button>
  </span>
</md-list-item>